* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    background: #eeeeee;
    border: 3px solid #094b73;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px; /* fix */
}

.login-box {
    width: 300px;
    padding: 20px;
    background: #ffffff;
    border: 2px solid #3a3a3a;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 60px;
    margin-bottom: 8px;
}

.login-box h1 {
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
    color: #111;
}

form {
    text-align: left;
}

label {
    font-size: 13px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 7px;
    margin: 5px 0 14px;
    border-radius: 5px;
    border: 2px solid #cfcfcf;
    font-size: 13px;
}

button {
    width: 100%;
    padding: 10px;
    background: #f7a600;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #d98c00;
}
