* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eeeeee;
    border: 5px solid #094b73;
    border-radius: 10px;
    padding: 12px; /* fix */
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-box {
    width: 380px;
    padding: 30px;
    background: #ffffff;
    border: 3px solid #3a3a3a;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
}

.logo {
    width: 70px;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #111;
}

form {
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin: 6px 0 18px;
    border: 2px solid #cccccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    background: #f7a600;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #d98c00;
}

.login-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.login-text a {
    color: #094b73;
    font-weight: bold;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}
